/* .conteiner{
    max-width: 1300px;
    margin: auto;
} */
.flex{
    display: flex;
}
/*...............navigation side........... */
#fullnavigation{
    justify-content: space-around;
}
.logo{
    width: 60px;
}
.uL{
flex-direction: row;
flex-basis: 50%;
justify-content: space-around;
}
.uL li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li a{
    color: black;
}
li a::after{
    content: "";
    position: absolute;
    background-color:red;
    height: 3px;
    width: 0;
    bottom: 18px;
    left: 0;
    transition: 0.6s;
}
li a:hover::after{
    width: 100%;
}
li a:hover{
    color: red;
}
li{
    position: relative;
}

/*...............navigation side........... */

/* ........... busnes consultant section.... */

#busnesconsult{
    background-image: url(../img/img_01.jpg);
   background-size: cover; 
   height: 800px;
    position: relative;
}
.best{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.6);
    width: 50%;
    top: 30%;
    left: 30%;
    height: 30%;
    padding: 40px 0px 0px 40px;
}
.bus,.lor{
    padding-bottom: 20px;
}
.bus{
    color: red;
    font-size: 33px;
}

.reg{
    display: block;
    text-align: center;
    background-color: red;
    width: 140px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
#sec1{
    margin-bottom: 10px;
}
/* ........... busnes consultant section.... */

/* ............ methods section............ */
#methods{
    width: 100%;
    height: 120px;
    background-color: red;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
#methods h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
#ourmethinf{
    display: flex;
    justify-content: space-between;

}
#ourmethinf div{
    flex-direction: column;
    padding: 20px;
    width: 26%;
}

.all > img, .all h2, .all p{
    padding-bottom: 10px;
}

/* ............ methods section............ */


/* ...........news section............ */
#news{
    width: 100%;
    height: 120px;
    background-color: #1A194F;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
#news h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
#allnews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#allnews div{
    padding: 20px;
    justify-content: space-between;
}

.all  img, .all h2, .all p .all a{
    padding-bottom: 10px;
}
.textside{
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.all a{
    display: inline-block;
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 12.5px;
}
/* ...........news section............ */

/* ..............footer section.................... */
footer{
    background-color:#1A194F;
    height: 20vh;
    position: relative;
}
#footer-side{
    justify-content: space-around;
    height: 100%;
}
#footer-side div{
    flex-direction: column;
    color: white;
    justify-content: center;

}
.footinside h3{
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.footinside h4{
    padding-bottom: 5px;
}

.icons{
    width: 100%;
    font-size: 20px;
}
.icons a{
    color: white;
    padding-right: 2px;
}
#Rk{
    position: absolute;
    bottom: 0;
}

/* ..............footer section.................... */



/* .......... mobile,tablet,ipad version.................. */

@media (max-width :540px){
    header{
        height: 200px;
    }
    .mediahight{
        height: 100%;
    }
    #fullnavigation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .uL{
        flex-direction: column;
        justify-content: space-between;
    }
    #methods{
        height: 300px;
    }
    #busnesconsult{
        background-position: center;
    }
    .best{
        padding: 20px;
    }
    #ourmethinf{
        flex-direction: column;
    }
    #ourmethinf div{
        width:100%;
        padding: 0px;
        align-items: center;

    }
    #allnews div{
        flex-direction: column;
        padding: 0px;
        align-items: center;
    }
    #allnews{
        margin-bottom: 180px;
    }
    #news{
        height: 250px;
    }
    footer{
        height: auto;
    }
    #footer-side{
    flex-direction: column;
    align-items: center;
    }   
    .other{
        width: 112px;
    }
    .all  img, .all h2, .all p, .all a{
        padding-bottom: 10px;
        width: 90%;
        padding: 10px;
    }
    #Rk{
        font-size: 10px;
        top: 0px;
        left: 0px;
    }
    li a:hover{
        color:red;
    }
    li a::after{
        content: "";
        position: absolute;
        background-color:red;
        height: 3px;
        width: 0;
        bottom: 18px;
        left: 0;
        transition: 0.6s;
        display: none;
    }

}
@media (min-width:768px) and (max-width:1024px){
    #methods{
        height: 200px;
    }
    #news{
        height: 200px;
    }
    li a::after{
        content: "";
        position: absolute;
        background-color:red;
        height: 3px;
        width: 0;
        bottom: 18px;
        left: 0;
        transition: 0.6s;
        display: none;
    }
    li a:hover{
        color:red;
    }
}
/* .......... mobile,tablet,ipad version.................. */